@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main_bg {
  background: rgb(152, 77, 56);
  background: linear-gradient(95deg,
      rgb(66, 24, 255) 0%,
      rgba(168, 17, 100, 0.9) 50%);
}

.btn_primary {
  background: rgb(183, 92, 255);
  background: linear-gradient(193deg,
      rgb(153, 28, 255) 15%,
      rgb(48, 25, 255) 89%);
}

.btn_primary_outline {
  background: transparent;
  border: 3px solid linear-gradient(193deg,
      rgba(183, 92, 255, 1) 15%,
      rgba(103, 26, 228, 1) 89%);
}