@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
  padding: 0;
  background-color: rgb(214, 214, 214);
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}